<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.forum.mapper.PostMapper">	<!-- mapper 인터페이스가 위치하는 경로 -->
    <select id="getPosts" resultType="com.cy.forum.model.model.Post">	<!-- id: mapper 인터페이스에서 선언한 메서드 이름과 같아야 한다. resultType: VO 클래스가 위치하는 경로 -->
        SELECT *
        FROM post
        ORDER BY post_id DESC
        Limit #{offset}, #{limit}<!-- SQL문 작성 -->
    </select>

    <select id="getPost" resultType="com.cy.forum.model.model.Post">
        SELECT *
        FROM post
        WHERE post_id = #{postId}
    </select>

    <insert id="createPost" useGeneratedKeys="true" parameterType="com.cy.forum.model.model.Post">
        INSERT INTO post(title, author_id, content, created_date, edited_date)
        VALUES (
                    #{title}, #{authorId}, #{content}, UTC_TIMESTAMP(), null
               )
    </insert>

    <update id="editPost" parameterType="com.cy.forum.model.model.Post">
        UPDATE post
        SET title=#{title}, content=#{content}, edited_date=UTC_TIMESTAMP()
        WHERE post_id = #{postId}
    </update>

    <delete id="deletePost">
        DELETE FROM post
        WHERE post_id = #{postId}
    </delete>
</mapper>